@use "../../../index_.scss" as index;
@use "common_.scss" as this;

/// Form Groups
@import "icon.scss";
@import "inputs.scss";
@import "checkbox.scss";
@import "radiobutton.scss";
@import "toogle.scss";
@import "input-group.scss";

/// Additional classes
// Form-group direction
.row {
    display: flex;
    flex-direction: row;
}
.row-extend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: column;
}
// Form-group width
.width-tiny { width: this.$width-tiny; }
.width-small { width: this.$width-small; }
.width-medium { width: this.$width-medium; }
.width-large { width: this.$width-large; }
// Form-group margin
.indent-tiny { margin-top: this.$indent-tiny; }
.indent-small { margin-top: this.$indent-small; }
.indent-medium { margin-top: this.$indent-medium; }
.indent-large { margin-top: this.$indent-large; }