// Indent control for input groups
// Additional configs sets in input elements
.input-group {
    margin-top: 16px;
    // Marginal elements indent control
    &.column {
        & > *:first-child { margin-top: 0; }
        & > *:last-child { margin-bottom: 0; }
    }
    &.row {
        & > *:first-child { margin-left: 0; }
        & > *:last-child { margin-right: 0; }
    }
}