@use "../../../index_.scss" as index;

.toogle {
    // Default
    display: inline-flex;
    .toogle__icon {
        width: 40px; min-width: 40px;
        height: 20px; min-height: 20px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 10px;
        background-color: white;
        > * {
            width: 12px;
            height: 12px;
            // Indent
            margin-left: 0;
            margin-right: 20px;
        }
    }
    .toogle__description {
        margin-left: 10px;
        margin-top: 1px;
        font-size: 14px;
        line-height: 18px;
        color: index.$dark-75;
    }
    // Selected
    &.selected {
        .toogle__icon {
            border: 1px solid #BC9CFF;
            // SVG
            > * {
                // Indent
                margin-left: 20px;
                margin-right: 0;
            }
        }
    }
}
// Indent control for group
.input-group.row .toogle { margin-left: 20px; }
.input-group.column .toogle { margin-top: 14px; }