<section class="center">
    <%- ejsRoute.include(include, __dirname, 'first/first') %>
    <%- ejsRoute.include(include, __dirname, 'second/second') %>
    <%- ejsRoute.include(include, __dirname, 'third/third') %>
</section>