<div class="section-column second">
    <!-- checkbox_buttons -->
    <div class="form-group width-medium indent-large">
        <div class="form-group__description">
            <label for="checkbox_buttons">Checkbox Buttons</label>
        </div>
        <div id="checkbox_buttons" class="input-group column">
            <div class="checkbox">
                <div class="checkbox__icon icon clickable"></div>
                <span class="checkbox__description">Можно курить</span>
            </div>
            <div class="checkbox selected">
                <div class="checkbox__icon icon clickable"></div>
                <span class="checkbox__description">Можно с питомцами</span>
            </div>
            <div class="checkbox selected">
                <div class="checkbox__icon icon clickable"></div>
                <span class="checkbox__description">Можно пригласить гостей<br>(до 10 человек)</span>
            </div>
        </div>
    </div>
    <!-- radio_buttons -->
    <div class="form-group width-medium indent-large">
        <div class="form-group__description">
            <label for="radio_buttons">Radio Buttons</label>
        </div>
        <div id="radio_buttons" class="input-group row">
            <div class="radiobutton selected">
                <div class="radiobutton__icon icon clickable"></div>
                <span class="radiobutton__description">Мужчина</span>
            </div>
            <div class="radiobutton">
                <div class="radiobutton__icon icon clickable"></div>
                <span class="radiobutton__description">Женщина</span>
            </div>
        </div>
    </div>
    <!-- toogles -->
    <div class="form-group width-medium indent-large">
        <div class="form-group__description">
            <label for="toogles">Toogle</label>
        </div>
        <div id="toogles" class="input-group column">
            <div class="toogle selected">
                <div class="toogle__icon icon clickable"></div>
                <span class="toogle__description">Получать спецпредложения</span>
            </div>
            <div class="toogle">
                <div class="toogle__icon icon clickable"></div>
                <span class="toogle__description">Получать спецпредложения</span>
            </div>
        </div>
    </div>
    <!-- like_buttons -->
    <div class="form-group width-tiny indent-large">
        <div class="form-group__description">
            <label for="like_buttons">Like Button</label>
        </div>
        <div id="like_buttons" class="input-group row">
            <div class="like-button">
                <div class="like-button__container">
                    <div class="like-button__heart icon clickable"></div>
                    <div class="like-button__counter">2</div>
                </div>
            </div>
            <div class="like-button selected">
                <div class="like-button__container">
                    <div class="like-button__heart icon clickable"></div>
                    <div class="like-button__counter">12</div>
                </div>
            </div>
            <div class="like-button selected">
                <div class="like-button__container">
                    <div class="like-button__heart icon clickable"></div>
                    <div class="like-button__counter">1234</div>
                </div>
            </div>
        </div>
    </div>
    <!-- rate_buttons -->
    <div class="form-group width-medium indent-large row">
        <div class="form-group__description">
            <label for="rate_buttons">Rate Button</label>
        </div>
        <div id="rate_buttons" class="input-group row">
            <div class="rate-button row">
                <div class="rate-button__element selected"></div>
                <div class="rate-button__element selected"></div>
                <div class="rate-button__element selected"></div>
                <div class="rate-button__element selected"></div>
                <div class="rate-button__element"></div>
            </div>
            <div class="rate-button row">
                <div class="rate-button__element selected"></div>
                <div class="rate-button__element selected"></div>
                <div class="rate-button__element selected"></div>
                <div class="rate-button__element selected"></div>
                <div class="rate-button__element selected"></div>
            </div>
        </div>
    </div>
</div>