@use "../../index_.scss" as index;
@use "sections/sections_.scss" as sections;
@use "../../../common/utils/margin_.scss" as margin;

article {
    // Display
    display: flex;
    margin-top: 32px;
    // High resolution
    @media (min-width: sections.$resolution-threshold) {
        width: calc(100% - #{sections.$article-h-margin * 2});
        margin-left: sections.$article-h-margin;
        margin-right: sections.$article-h-margin;
    }
    // Low resolution
    @media (max-width: sections.$resolution-threshold - 1) {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    // Sections positioning
    flex-direction: column;
    @import "sections/sections.scss";
}