<div class="section-column third">
    <!-- dropdown_clear_submit -->
    <div class="element-group width-large indent-small">
        <div class="element-group__description">
            <label for="dropdown_clear_submit">Dropdown</label>
        </div>
        <div id="dropdown_clear_submit" class="form-element dropdown angular expanded">
            <div class="dropdown__field">
                <span>3 гостя</span>
                <div class="icon clickable">expand_more</div>
            </div>
            <div class="dropdown__list">
                <div class="dropdown__list-element counter">
                    <span class="counter__text">Взрослые</span>
                    <div class="counter__config">
                        <div class="counter__config__button">
                            <span>-</span>
                        </div>
                        <div class="counter__config__number">
                            <span>2</span>
                        </div>
                        <div class="counter__config__button">
                            <span>+</span>
                        </div>
                    </div>
                </div>
                <div class="dropdown__list-element counter">
                    <span class="counter__text">Дети</span>
                    <div class="counter__config">
                        <div class="counter__config__button">
                            <span>-</span>
                        </div>
                        <div class="counter__config__number">
                            <span>1</span>
                        </div>
                        <div class="counter__config__button">
                            <span>+</span>
                        </div>
                    </div>
                </div>
                <div class="dropdown__list-element counter">
                    <span class="counter__text">Младенцы</span>
                    <div class="counter__config">
                        <div class="counter__config__button disabled">
                            <span>-</span>
                        </div>
                        <div class="counter__config__number">
                            <span>0</span>
                        </div>
                        <div class="counter__config__button">
                            <span>+</span>
                        </div>
                    </div>
                </div>
                <div class="dropdown__list-element submit-panel">
                    <div class="submit-panel__button-clear">Очистить</div>
                    <div class="submit-panel__button-submit">Применить</div>
                </div>
            </div>
        </div>
    </div>
    <!-- bullet_list -->
    <div class="element-group width-medium indent-significant">
        <div class="element-group__description">
            <label for="bullet_list">Bullet list</label>
        </div>
        <div id="bullet_list" class="input-group column">
            <div class="misc-element list">
                <div class="list-element">
                    <div class="list-element__icon"></div>
                    <div class="list-element__description">
                        <span>Нельзя с питомцами</span>
                    </div>
                </div>
                <div class="list-element">
                    <div class="list-element__icon"></div>
                    <div class="list-element__description">
                        <span>Без вечеринок и мероприятий</span>
                    </div>
                </div>
                <div class="list-element">
                    <div class="list-element__icon"></div>
                    <div class="list-element__description">
                        <span>Время прибытия — после 13:00, а выезд до 12:00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>