@mixin icon {
    // Special
    user-select: none;
    // Display
    display: flex;
    align-items: center;
    justify-content: center;
    // Font
    font-family: Material Icons;
    text-transform: none;
}
@mixin clickable {
    cursor: pointer;
}