@use "index_.scss" as this;

/// Form Groups
/* Insert here any new element */
@import "icon.scss";
@import "inputs.scss";
@import "checkbox.scss";
@import "radiobutton.scss";
@import "toogle.scss";
@import "like-button.scss";
@import "rate-button.scss";
@import "range-slider.scss";
@import "button.scss";
@import "pagination.scss";
// Final import
@import "input-group.scss";

/// Additional classes
// Form-group width
.width-tiny { width: this.$width-tiny; }
.width-small { width: this.$width-small; }
.width-medium { width: this.$width-medium; }
.width-large { width: this.$width-large; }
// Form-group margin
.indent-tiny { margin-top: this.$indent-tiny; }
.indent-small { margin-top: this.$indent-small; }
.indent-medium { margin-top: this.$indent-medium; }
.indent-large { margin-top: this.$indent-large; }