$keyword-class: form-element;
// Input width
$width-tiny: 150px;
$width-small: 220px;
$width-medium: 266px;
$width-large: 320px;
// Input margin
$indent-tiny: 10px;
$indent-small: 20px;
$indent-medium: 30px;
$indent-large: 40px;
$indent-significant: 100px;