@use "../../colors_.scss" as colors;
@use "../../fonts_.scss" as fonts;

// Constants
$height: 44px;
$border: 1px solid colors.$dark-25;
$border-radius: 4px;
$text-padding: 15px;
$background: white;

// Inputs (input, select, input-submit, dropdown)
@mixin input-common {
    height: $height;
    box-sizing: border-box;
    border-radius: $border-radius;
    padding-left: $text-padding;
    @include fonts.default;
    // Colors
    background: $background;
}

// Custom inputs (select, input-submit, dropdown)
@mixin custom-input {
    @include input-common;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // Colors
    border: $border;
    color: colors.$dark-75;
    span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.placeholder {
            color: colors.$dark-25;
        }
    }
    .icon {
        width: $height; min-width: $height;
        height: inherit;
        // Font
        font-size: 24px;
        line-height: 24px;
    }
}