@use "../../colors_.scss" as colors;
@use "../../fonts_.scss" as fonts;
@use "inputs_.scss" as this;
@use "index_.scss" as index;

// Input with default type (input)
&.input {
    @include this.input-common;
    &.default {
        border: 1px solid colors.$dark-25;
        // Font
        color: colors.$dark-75;
        // &:hover, &:focus {
        //     border: 1px solid index.$dark-50;
        // }
        &::placeholder {
            color: colors.$dark-25;
        }
    }
    &.hover-focus {
        border: 1px solid colors.$dark-50;
        // Font
        color: colors.$dark-75;
        &::placeholder {
            color: colors.$dark-75;
        }
    }
}

// Input submit
&.input-submit {
    @include this.custom-input;
    .icon {
        @include fonts.icon;
        cursor: pointer;
        // Colors
        background: colors.$purple-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

// Dropdown
@import "dropdown/dropdown.scss";