@use "../../colors_.scss" as colors;
@use "../../fonts_.scss" as fonts;
@use "index_.scss" as index;

// Constants
$size: 40px;
$icon-size: 24px;

&.pagination {
    .pagination__buttons {
        user-select: none;
        .pagination__button {
            cursor: pointer;
            // Display
            display: flex;
            justify-content: center;
            align-items: center;
            width: $size;
            height: $size;
            // Label
            @include fonts.label;
            color: colors.$dark-50;
            &.active {
                border-radius: $size / 2;
                background: colors.$purple-gradient;
                color: white;
            }
            &.next {
                @include fonts.icon;
                cursor: pointer;
                border-radius: $size / 2;
                background: colors.$green-gradient;
                color: white;
                // Font
                font-size: $icon-size;
                line-height: $icon-size;
            }
            &.disabled {
                cursor: default;
            }
        }
    }
    .pagination__afterword {
        // Text
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        // Color
        color: colors.$dark-75;
    }
}