@use "../../colors_.scss" as colors;
@use "index_.scss" as index;
@use "../../fonts_.scss" as fonts;

// Constants
$element-size: 24px;

&.rate-button {
    // Horizontal
    display: flex;
    flex-direction: row;
    // Vertical
    &.vertical { display: flex; }
    .rate-button__element {
        /// Default
        // Icon
        .icon {
            width: $element-size;
            height: $element-size;
            font-size: $element-size;
            @include fonts.icon;
            @include fonts.gradiented(colors.$purple-gradient);
        }
        /// Selected
        /* &.selected */
    }
}