@use "../../colors_.scss" as colors;
@use "index_.scss" as index;
@use "../../fonts_.scss" as fonts;
@use "../../utils/flex_.scss" as flex;

// Constants
$width: 40px;
$height: 20px;
$point-size: 12px;

&.toogle {
    // Default
    display: flex;
    flex-direction: row;
    .toogle__icon {
        // Display
        @include flex.center;
        // Size
        width: $width; min-width: $width;
        height: $height; min-height: $height;
        border: 1px solid colors.$dark-25;
        border-radius: $height / 2;
        box-sizing: border-box;
        // Color
        background: white;
        // Icon
        .toogle__icon__point {
            width: $point-size;
            height: $point-size;
            border-radius: $point-size / 2;
            margin-left: ($height - 2 /* border */ - $point-size) / 2;
            margin-right: auto;
            background: colors.$dark-25;
        }
    }
    .toogle__description {
        margin-left: 10px;
        margin-top: 1px;
        color: colors.$dark-75;
    }
    // Selected
    &.selected {
        .toogle__icon {
            border: 1px solid colors.$purple;
            // Icon
            .toogle__icon__point {
                margin-left: auto;
                margin-right: ($height - 2 /* border */ - $point-size) / 2;
                background: colors.$purple-gradient;
            }
        }
    }
}