/* Colors & Type */
html, body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

body {
  position: relative;
}

main {
  display: block;
  width: auto;
  min-width: 320px;
  max-width: 1920px;
  margin: 0px;
  align-self: center;
}
@media (min-width: 1930px) {
  main {
    margin-left: calc((100% - 1920px) / 2);
    margin-right: calc((100% - 1920px) / 2);
  }
}
@media (min-width: 1000px) {
  main {
    margin-bottom: 132px;
  }
}
@media (max-width: 999px) {
  main {
    margin-bottom: 40px;
  }
}

/* Site header with icon */
header {
  height: 108px;
}
header .site-icon {
  width: 48px;
  height: 48px;
  margin-left: 30px;
  margin-top: 30px;
}
header .site-icon path {
  /* Dark 25% */
  background: rgba(31, 32, 65, 0.25);
}

article {
  /* Insert here any new element */
  display: flex;
  margin-top: 32px;
  flex-direction: column;
}
article input {
  height: 44px;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background: #FFFFFF;
}
article input.default {
  border: 1px solid rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}
article input.default::placeholder {
  color: rgba(31, 32, 65, 0.25);
}
article input.hover-focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}
article input.hover-focus::placeholder {
  color: rgba(31, 32, 65, 0.75);
}
article .custom-input {
  height: 44px;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background: #FFFFFF;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}
article .custom-input span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
article .custom-input span.placeholder {
  color: rgba(31, 32, 65, 0.25);
}
article .custom-input .icon {
  width: 44px;
  min-width: 44px;
  height: inherit;
  font-size: 24px;
  line-height: 24px;
}
article .dropdown .icon {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Material Icons;
  text-transform: none;
  cursor: pointer;
  color: rgba(31, 32, 65, 0.5);
}
article .input-submit .icon {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Material Icons;
  text-transform: none;
  cursor: pointer;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
article .checkbox {
  display: inline-flex;
}
article .checkbox .checkbox__icon {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white;
}
article .checkbox .checkbox__description {
  margin-left: 10px;
  margin-top: 1px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
article .checkbox.selected .checkbox__icon {
  border: 1px solid #BC9CFF;
  background-image: url("../common/form/icons/check-mark.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center calc(50% - 1px);
}
article .row > .checkbox {
  margin-left: 20px;
}
article .column > .checkbox {
  margin-top: 10px;
}
article .radiobutton {
  display: inline-flex;
}
article .radiobutton .radiobutton__icon {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  background-image: url("../common/form/icons/point-inactive.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
}
article .radiobutton .radiobutton__description {
  margin-left: 10px;
  margin-top: 1px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
article .radiobutton.selected .radiobutton__icon {
  border: 1px solid #BC9CFF;
  background-image: url("../common/form/icons/point.svg");
}
article .radiobutton.selected .radiobutton__description {
  color: rgba(31, 32, 65, 0.75);
}
article .row > .radiobutton {
  margin-left: 20px;
}
article .column > .radiobutton {
  margin-top: 10px;
}
article .toogle {
  display: inline-flex;
}
article .toogle .toogle__icon {
  width: 40px;
  min-width: 40px;
  height: 20px;
  min-height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  background-image: url("../common/form/icons/point-inactive.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: left 3px center;
}
article .toogle .toogle__description {
  margin-left: 10px;
  margin-top: 1px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}
article .toogle.selected .toogle__icon {
  border: 1px solid #BC9CFF;
  background-image: url("../common/form/icons/point.svg");
  background-position: right 3px center;
}
article .row > .toogle {
  margin-left: 20px;
}
article .column > .toogle {
  margin-top: 14px;
}
article .like-button {
  cursor: pointer;
  display: flex;
  min-width: 38px;
  height: 18px;
  border-radius: 10px;
  padding: 1px;
  background: rgba(31, 32, 65, 0.25);
}
article .like-button .like-button__container {
  display: inline-flex;
  min-width: 38px;
  height: 18px;
  border-radius: 9px;
  background: #FFFFFF;
}
article .like-button .like-button__container .like-button__heart {
  width: 18px;
  min-width: 18px;
  background-image: url("../common/form/icons/heart-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
}
article .like-button .like-button__container .like-button__counter {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 12px;
  margin-right: 6px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: rgba(31, 32, 65, 0.25);
}
article .like-button.selected {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
article .like-button.selected .like-button__container .like-button__heart {
  background-image: url("../common/form/icons/heart.svg");
}
article .like-button.selected .like-button__container .like-button__counter {
  color: #BC9CFF;
}
article .row > .like-button {
  margin-left: 10px;
}
article .column > .like-button {
  margin-top: 10px;
}
article .rate-button {
  display: inline-flex;
}
article .rate-button.vertical {
  display: flex;
}
article .rate-button .rate-button__element {
  display: flex;
  width: 24px;
  height: 24px;
  background-image: url("../common/form/icons/star-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
}
article .rate-button .rate-button__element.selected {
  background-image: url("../common/form/icons/star.svg");
}
article .row > .rate-button {
  margin-left: 20px;
}
article .column > .rate-button {
  margin-top: 20px;
}
article .range-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 16px;
}
article .range-slider .range-slider__full-bar {
  width: inherit;
  height: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: content-box;
  border-radius: 3px;
}
article .range-slider .range-slider__full-bar .range-slider__active-bar-wrapper {
  position: absolute;
  width: inherit;
  height: 6px;
  transform: translate(-1px, -1px) translate(30%);
}
article .range-slider .range-slider__full-bar .range-slider__active-bar-wrapper .range-slider__active-bar {
  width: 34%;
  height: 6px;
  border-radius: 3px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
article .range-slider .range-slider__full-bar .range-slider__active-bar-wrapper .range-slider__start-point {
  cursor: pointer;
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid white;
  border-radius: 8px;
  transform: translate(-8px, -5px);
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
article .range-slider .range-slider__full-bar .range-slider__active-bar-wrapper .range-slider__end-point-wrapper {
  position: absolute;
  width: inherit;
  height: inherit;
  transform: translate(100%);
}
article .range-slider .range-slider__full-bar .range-slider__active-bar-wrapper .range-slider__end-point-wrapper .range-slider__end-point {
  cursor: pointer;
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid white;
  border-radius: 8px;
  transform: translate(-8px, -5px);
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
article .row > .range-slider {
  margin-left: 20px;
}
article .column > .range-slider {
  margin-top: 20px;
}
article .button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 44px;
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: white;
}
article .button.disabled {
  cursor: default;
  opacity: 0.5;
}
article .button.bordered {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
article .button.bordered .button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 40px;
  border-radius: 20px;
  background: white;
  color: #BC9CFF;
}
article .button.inline {
  width: auto;
  height: auto;
  border-radius: 0;
  background: none;
  color: #BC9CFF;
}
article .button.inline.disabled {
  color: rgba(31, 32, 65, 0.5);
  opacity: 1;
}
article .button.submit {
  width: 320px;
}
article .button.submit span {
  width: calc(100% - 44px * 2);
  margin-left: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
article .button.submit .button__icon {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Material Icons;
  text-transform: none;
  cursor: pointer;
  float: right;
  width: 44px;
  height: 44px;
  font-size: 24px;
  line-height: 24px;
}
article .row > .button {
  margin-left: 20px;
}
article .column > .button {
  margin-top: 20px;
}
article .pagination .pagination__buttons {
  user-select: none;
}
article .pagination .pagination__buttons .pagination__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5);
}
article .pagination .pagination__buttons .pagination__button.active {
  border-radius: 20px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: white;
}
article .pagination .pagination__buttons .pagination__button.next {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Material Icons;
  text-transform: none;
  cursor: pointer;
  border-radius: 20px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  color: white;
  font-size: 24px;
  line-height: 24px;
}
article .pagination .pagination__buttons .pagination__button.disabled {
  cursor: default;
}
article .pagination .pagination__afterword {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
article .row > .pagination {
  margin-left: 20px;
}
article .column > .pagination {
  margin-top: 20px;
}
article .input-group {
  width: inherit;
  margin-top: 16px;
}
article .row {
  display: flex;
  flex-direction: row;
}
article .row > *:first-child {
  margin-left: 0;
}
article .row > *:last-child {
  margin-right: 0;
}
article .row-extend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
article .row-extend > *:first-child {
  margin-left: 0;
}
article .row-extend > *:last-child {
  margin-right: 0;
}
article .column {
  display: flex;
  flex-direction: column;
}
article .column > *:first-child {
  margin-top: 0;
}
article .column > *:last-child {
  margin-bottom: 0;
}
article .width-tiny {
  width: 150px;
}
article .width-small {
  width: 220px;
}
article .width-medium {
  width: 266px;
}
article .width-large {
  width: 320px;
}
article .indent-tiny {
  margin-top: 10px;
}
article .indent-small {
  margin-top: 20px;
}
article .indent-medium {
  margin-top: 30px;
}
article .indent-large {
  margin-top: 40px;
}
@media (min-width: 1000px) {
  article {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 999px) {
  article {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
article section {
  display: flex;
  background-color: #fefff5;
}
@media (min-width: 1000px) {
  article section {
    flex-direction: row;
  }
}
@media (max-width: 999px) {
  article section {
    flex-direction: column;
  }
}
article section .section-column {
  width: 320px;
  margin-right: 0px;
  background-color: #fff3f3;
  font-family: Montserrat;
  font-style: normal;
}
@media (min-width: 1000px) {
  article section .section-column.first {
    margin-left: calc((100% - 960px) * 0.29375);
  }
  article section .section-column.second {
    margin-left: calc((100% - 960px) * 0.2625);
  }
  article section .section-column.third {
    margin-left: calc((100% - 960px) * 0.15);
  }
}
@media (max-width: 999px) {
  article section .section-column {
    margin-left: calc(50% - 160px);
    margin-right: calc(50% - 160px);
    margin-top: 40px;
  }
  article section .section-column:first-child {
    margin-top: 0;
  }
  article section .section-column:last-child {
    margin-bottom: 0;
  }
}
article section .section-column > *:first-child {
  margin-top: 0;
}
article section .section-column > *:last-child {
  margin-bottom: 0;
}
article section .section-column .form-group {
  display: flex;
  flex-direction: column;
}
article section .section-column .form-group .form-group__description {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
article section .section-column .form-group .form-group__description label {
  font-weight: bold;
  color: #1F2041;
}
article section .section-column .form-group .form-group__description label.indent {
  margin-top: 3px;
  margin-bottom: 5px;
}
article section .section-column .form-group .form-group__description span {
  font-weight: normal;
  color: rgba(31, 32, 65, 0.5);
}