// Main variables
@use "index_.scss" as index;
@use "components/article/sections/sections_.scss" as sections;

// Util styles
@import "../common/utils/clickable.scss";

/* Form Elements */
html, body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
body {
    position: relative;
}
main {
    display: block;
    width: auto;
    min-width: index.$min_width;
    max-width: index.$max_width;
    margin: 0px;
    align-self: center;
    // Adding side empty spaces for large resolutions
    @media (min-width: 1930px) {
        margin-left: calc((100% - #{index.$max_width}) / 2);
        margin-right: calc((100% - #{index.$max_width}) / 2);
    }
    // High resolution
    @media (min-width: sections.$resolution-threshold) {
        margin-bottom: 132px;
    }
    // Low resolution
    @media (max-width: sections.$resolution-threshold - 1) {
        margin-bottom: 40px;
    }
}
// Fonts
@import "../common/fonts.scss";
// Styles
@import "../common/form/components/index.scss"; // Form
@import "../common/misc/index.scss"; // Misc
// Components
@import "components/header/header.scss";
@import "components/article/article.scss";