<% root = path.join(root, 'Form Elements'); %>
<% const __dirname = root; %>
<% const ejsRoute = new EjsRoute(root, 'ejsRoute'); %>
<!DOCTYPE html>
<head>
    <!-- Options -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <main>
        <%- ejsRoute.include(include, __dirname, 'components/header/header') %>
        <%- ejsRoute.include(include, __dirname, 'components/article/article') %>
    </main>
</body>
