<div class="section-column left">
    <div class="element-group width-large indent-medium">
        <!-- described_icon_comfort -->
        <div class="indent-small row">
            <div class="misc-element big-icon">insert_emoticon</div>
            <div class="misc-element description">
                <div class="description__title">Комфорт</div>
                <div class="description__details">Шумопоглощающие стены</div>
            </div>
        </div>
        <!-- strip -->
        <div class="indent-small">
            <div class="misc-element strip"></div>
        </div>
        <!-- described_icon_convenience -->
        <div class="indent-small row">
            <div class="misc-element big-icon">location_city</div>
            <div class="misc-element description">
                <div class="description__title">Удобство</div>
                <div class="description__details">Окно в каждой из спален</div>
            </div>
        </div>
        <!-- strip -->
        <div class="indent-small">
            <div class="misc-element strip"></div>
        </div>
    </div>
</div>