@use "sections_.scss" as this;
@use "../../../../common/form/components/index_.scss" as form;
@use "../../../../common/utils/margin_.scss" as margin;

> section {
    display: flex;
    background-color: rgb(248, 255, 248);
    // High resolution
    @media (min-width: this.$resolution-threshold) {
        flex-direction: row;
        &.center { margin-top: 100px; }
        &.bottom {
            margin-top: 40px;
            // Width for right column of bottom section
            > .section-column.right {
                width: calc(#{this.$column-width * 2} + #{this.$margin-third-final});
            }
        }
    }
    // Low resolution
    @media (max-width: this.$resolution-threshold - 1) {
        flex-direction: column;
        margin-top: 100px;
        &:first-child { margin-top: 0; }
        // Sections indent when all in one column
        @include margin.inner-vertical(margin-top, form.$indent-large);
    }
    > .section-column {
        width: this.$column-width;
        margin-right: 0px;
        background-color: rgb(255, 248, 248);
        font-family: Montserrat;
        font-style: normal;
        // High resolution
        @media (min-width: this.$resolution-threshold) {
            &.first, &.left { margin-left: this.$margin-first-final; }
            &.second, &.right { margin-left: this.$margin-second-final; }
            &.third { margin-left: this.$margin-third-final; }
        }
        // Low resolution
        @media (max-width: this.$resolution-threshold - 1) {
            margin-left: calc(50% - #{this.$column-width / 2});
            margin-right: calc(50% - #{this.$column-width / 2});
        }
        // First section element doesn't need top margin
        // Last section element doesn't need bottom margin
        @include margin.inner-vertical();
        @import "../../../../common/element-group.scss";
    }
}