<section class="headers">
    <ul>
        <li class="header">
            <h1 class="header-tag">H1</h1>
            <h1 class="header-desc">This one is the sub-section or widget title</h1>
        </li>
        <li class="header">
            <h2 class="header-tag">H2</h2>
            <h2 class="header-desc">Next one is the item title inside widgets</h2>
        </li>
        <li class="header">
            <h3 class="header-tag">H3</h3>
            <h3 class="header-desc">This is a label or CTA text</h3>
        </li>
        <li class="header">
            <span class="header-tag">Body</span>
            <span class="header-desc">This is the body text which is used for most of the design, like paragraphs, lists, etc.</span>
        </li>
    </ul>
</section>