<!DOCTYPE html>
<head>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Options -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>
    <main>
        <%- include('components/header/header', {}); %>
        <article>
            <%- include('components/article/colors/colors', {}); %>
            <%- include('components/article/headers/headers', {}); %>
        </article>
    </main>
</body>