/* Colors & Type */
$max_width: 1920px;
body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}
main {
    display: flex;
    width: auto;
    min-width: 320px;
    max-width: 1920px;
    margin: 5px;
    // Disable margin for small resolutions
    @media (max-width: 479px) {
        margin-left: 0px;
        margin-right: 0px;
    }
    // Adding side empty spaces for large resolutions
    @media (min-width: 1930px) {
        margin-left: calc((100% - #{$max_width}) / 2);
        margin-right: calc((100% - #{$max_width}) / 2);
    }
    align-self: center;
    // Sections positioning
    flex-direction: column;
    @media (min-width: 800px) {
        flex-direction: row;
    }
}

/* Site icon */
.site-icon {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 30px;
    top: 30px;
    path {
        /* Dark 25% */
        background: rgba(31, 32, 65, 0.25);
    }
}

/* Section - Colors */
section.colors {
    $width: 270px; width: $width;
    height: 610px;
    margin-top: 150px;
    // 1280 - 1920+
    @media (min-width: 1280px) {
        margin-left: calc(15%);
    }
    // 800 - 1280
    @media (min-width: 800px) and (max-width: 1279px) {
        margin-left: calc(10%);
    }
    // 480 - 800
    @media (min-width: 480px) and (max-width: 799px) {
        margin-left: calc(50% - #{$width} / 2);
        margin-right: calc(50% - #{$width} / 2);
        margin-top: 100px;
    }
    // 320 - 480
    @media (max-width: 479px) {
        margin-left: calc(50% - #{$width} / 2);
        margin-right: calc(50% - #{$width} / 2);
        margin-top: 100px;
    }
    .color {
        display: flex;
        width: inherit;
        height: 70px;
        margin-bottom: 20px;
        flex-direction: row;
        align-items: center;
        &:last-child {
            margin-bottom: unset;
        }
        .color-visual {
            display: inline-block;
            width: 70px;
            min-width: 70px;
            height: 70px;
            left: 150px;
            background-color: initial; /* Configured */
            border-radius: 6px;
        }
        .color-desc {
            position: inherit;
            float: right;
            height: 56px;
            margin-left: 40px;
            font-family: Quicksand;
            font-style: normal;
            font-size: 19px;
            line-height: 28px;
            /* Dark 100% */
            color: #1F2041;
        }
    }
}

/* Section - Headers */
section.headers {
    $width: 400px; width: $width;
    margin-top: 150px;
    // 1280 - 1920+
    @media (min-width: 1280px) {
        margin-left: calc(25%);
    }
    // 800 - 1280
    @media (min-width: 800px) and (max-width: 1279px) {
        margin-left: calc(25%);
    }
    // 480 - 800
    @media (min-width: 480px) and (max-width: 799px) {
        $width: calc(85% - 20px); width: $width;
        margin-left: calc(50% - #{$width} / 2);
        margin-right: calc(50% - #{$width} / 2);
        margin-top: 50px;
    }
    // 320 - 480
    @media (max-width: 479px) {
        $width: calc(100% - 5px); width: $width;
        margin-left: calc(50% - #{$width} / 2);
        margin-right: calc(50% - #{$width} / 2);
        margin-top: 50px;
    }
    .header {
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: unset;
        }
    }
    .header-tag {
        display: block;
        min-width: 40px;
        font-family: Montserrat;
        text-align: right;
        font-weight: normal;
        /* Dark 25% */
        color: rgba(31, 32, 65, 0.25);
    }
    .header-desc {
        font-family: Quicksand;
        text-align: left;
        margin-left: 30px;
    }
    h1 {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
    }
    h2 {
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
    }
    h3 {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }
    span {
        font-size: 14px;
        line-height: 24px;
    }
}