<div class="section-column first">
    <!-- text_field_default -->
    <div class="element-group width-large indent-large">
        <div class="element-group__description">
            <label for="text_field_default">Text Field</label>
            <span>Default</span>
        </div>
        <input id="text_field_default" class="form-element input default" placeholder="Email">
    </div>
    <!-- text_field_hover_focus -->
    <div class="element-group width-large indent-small">
        <div class="element-group__description">
            <label for="text_field_hover_focus">Text Field</label>
            <span>Hover / Focus</span>
        </div>
        <input id="text_field_hover_focus" class="form-element input hover-focus" placeholder="Email">
    </div>
    <!-- dropdown -->
    <div class="element-group width-large indent-small">
        <div class="element-group__description">
            <label for="dropdown">Dropdown</label>
            <span>Default</span>
        </div>
        <!-- <select id="dropdown">
            <option value="" disabled selected hidden>Сколько гостей</option>
            <option value="0">First</option>
            <option value="1">Second</option>
            <option value="2">Third</option>
        </select> -->
        <div id="dropdown" class="form-element dropdown">
            <div class="dropdown__field">
                <span>Сколько гостей</span>
                <div class="icon clickable">expand_more</div>
            </div>
        </div>
    </div>
    <!-- masked_text_field -->
    <div class="element-group width-large indent-small">
        <div class="element-group__description">
            <label for="masked_text_field">Masked Text Field</label>
            <span>Default</span>
        </div>
        <input id="masked_text_field" class="form-element input default" placeholder="ДД.ММ.ГГГГ">
    </div>
    <!-- date_dropdowns -->
    <div class="row-extend indent-large">
        <!-- date_dropdown_left -->
        <div class="element-group width-tiny">
            <div class="element-group__description">
                <label for="date_dropdown_left">Date Dropdown</label>
            </div>
            <div id="date_dropdown_left" class="form-element dropdown">
                <div class="dropdown__field">
                    <span>ДД.ММ.ГГГГ</span>
                    <div class="icon clickable">expand_more</div>
                </div>
            </div>
        </div>
        <!-- date_dropdown_right -->
        <div class="element-group width-tiny">
            <div class="element-group__description">
                <label for="date_dropdown_right">Date Dropdown</label>
            </div>
            <div id="date_dropdown_right" class="form-element dropdown">
                <div class="dropdown__field">
                    <span>19.08.2019</span>
                    <div class="icon clickable">expand_more</div>
                </div>
            </div>
        </div>
    </div>
    <!-- filter_date_dropdown -->
    <div class="element-group width-medium indent-large">
        <div class="element-group__description">
            <label for="filter_date_dropdown">Filter Date Dropdown</label>
        </div>
        <div id="filter_date_dropdown" class="form-element dropdown">
            <div class="dropdown__field">
                <span>19 авг - 23 авг</span>
                <div class="icon clickable">expand_more</div>
            </div>
        </div>
    </div>
    <!-- filter_date_dropdown -->
    <div class="element-group width-medium indent-large">
        <div class="element-group__description">
            <label for="filter_date_dropdown">Subscription Text Field</label>
        </div>
        <div id="filter_date_dropdown" class="form-element input-submit">
            <span class="placeholder">Email</span>
            <div class="icon clickable">arrow_forward</div>
        </div>
    </div>
</div>