<div class="section-column first">
    <!-- dropdown_default -->
    <div class="element-group width-medium indent-small">
        <div class="element-group__description">
            <label for="dropdown_default" class="indent">Dropdown</label>
            <span>Default</span>
        </div>
        <div id="dropdown_default" class="form-element dropdown angular">
            <div class="dropdown__field">
                <span>2 спальни, 2 кровати...</span>
                <div class="icon clickable">expand_more</div>
            </div>
        </div>
    </div>
    <!-- dropdown_expanded -->
    <div class="element-group width-medium indent-small">
        <div class="element-group__description">
            <label for="dropdown_expanded">Dropdown</label>
            <span>Expanded</span>
        </div>
        <div id="dropdown_expanded" class="form-element dropdown angular expanded">
            <div class="dropdown__field">
                <span>2 спальни, 2 кровати...</span>
                <div class="icon clickable">expand_more</div>
            </div>
            <div class="dropdown__list">
                <div class="dropdown__list-element counter">
                    <span class="counter__text">Cпальни</span>
                    <div class="counter__config">
                        <div class="counter__config__button">
                            <span>-</span>
                        </div>
                        <div class="counter__config__number">
                            <span>2</span>
                        </div>
                        <div class="counter__config__button">
                            <span>+</span>
                        </div>
                    </div>
                </div>
                <div class="dropdown__list-element counter">
                    <span class="counter__text">Кровати</span>
                    <div class="counter__config">
                        <div class="counter__config__button">
                            <span>-</span>
                        </div>
                        <div class="counter__config__number">
                            <span>2</span>
                        </div>
                        <div class="counter__config__button">
                            <span>+</span>
                        </div>
                    </div>
                </div>
                <div class="dropdown__list-element counter">
                    <span class="counter__text">Ванные комнаты</span>
                    <div class="counter__config">
                        <div class="counter__config__button disabled">
                            <span>-</span>
                        </div>
                        <div class="counter__config__number">
                            <span>0</span>
                        </div>
                        <div class="counter__config__button">
                            <span>+</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- checkbox_list_default -->
    <div class="element-group expandable width-large indent-small">
        <div class="element-group__description">
            <label>Expandable checkbox list</label>
            <div class="icon clickable">expand_more</div>
        </div>
    </div>
    <!-- checkbox_list_expanded -->
    <div class="element-group expandable expanded width-large indent-small">
        <div class="element-group__description">
            <label for="checkbox_list_expanded">Expandable checkbox list</label>
            <div class="icon clickable">expand_more</div>
        </div>
        <div class="element-group__content">
            <!-- input-group -->
            <div id="checkbox_list_expanded" class="input-group column no-indent">
                <div class="form-element checkbox">
                    <div class="checkbox__icon clickable"></div>
                    <span class="checkbox__description">Завтрак</span>
                </div>
                <div class="form-element checkbox selected">
                    <div class="checkbox__icon clickable"></div>
                    <span class="checkbox__description">Письменный стол</span>
                </div>
                <div class="form-element checkbox selected">
                    <div class="checkbox__icon clickable"></div>
                    <span class="checkbox__description">Стул для кормления</span>
                </div>
                <div class="form-element checkbox selected">
                    <div class="checkbox__icon clickable"></div>
                    <span class="checkbox__description">Кроватка</span>
                </div>
                <div class="form-element checkbox">
                    <div class="checkbox__icon clickable"></div>
                    <span class="checkbox__description">Телевизор</span>
                </div>
                <div class="form-element checkbox">
                    <div class="checkbox__icon clickable"></div>
                    <span class="checkbox__description">Шампунь</span>
                </div>
            </div>
        </div>
    </div>
</div>